<div class="container">
     <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">

            <div class="row g-3 mt-4">

                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">

                    <h2 class="text" style="text-align:center">Admin Login</h2>

                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">

                    <label for="" class="form-label">User Name</label>
                    <input name="username" [(ngModel)]="username" type="text" class="form-control">

                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">

                    <label for="" class="form-label ">Password</label>
                    <input name="password" [(ngModel)]="password" type="password" name="" id="" class="form-control">

                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 text-center">

                   <button (click)="readValue()" class="btn btn-primary">Login</button>

                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 text-center">

                    <a routerLink="/register" >User Registration </a>
                   

                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 text-center">

                    <a routerLink="/userlogin" >User Login</a>

                </div>
            </div>

        </div>
    </div>
</div>

